<h3 class="title">Add a thing</h3>
{{input id="search" type="text" value=content key-up="setContent" enter='addThing' autofocus="true"}}<br>
{{#each existingThings as |existingThing|}}
  {{thing-suggestion model=existingThing}}
{{/each}}
